@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

*{
    padding: 0px;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}

.inicio_nav{
    width: 100%;
    background-image: url(../image/background__leafNav.jpg);
    border-bottom: 4px solid black;
}

.inicio_nav .navegator{
     background-color: rgba(0, 255, 85, 0.084);
}

.navegator div a img {
    width: 6em;
    border-radius: 100%;
    border: 3px solid rgb(0, 0, 0);
}

.navegator .hamburger{
    background: rgba(51, 51, 51, 0.47);
    border-radius: 5px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.9px);
}

.inicio_nav .navegator ul li a{
    font-size: 1em;
    text-align: center;
    text-decoration: none;
    background: rgba(51, 51, 51, 0.47);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.9px);
    border: 3px solid rgba(51, 51, 51, 0.14);
}

div .espacio{
    color: rgba(255, 0, 174, 0);
}


















.header__inicio{
    width: 100%;
    height: 83vh;
    position: relative;
    background-attachment: fixed;
    background-image: url("../image/entrnace_salon.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 3px solid black;
}

.header__inicio div{
    position: relative;
    padding-top: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: rgb(0, 0, 0);
}

.header__inicio div h1{
    font-size: 1.7em;
    background: rgba( 255, 255, 255, 0.15 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 8px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    font-family: 'Poppins', sans-serif;
}

.header__inicio div a{
    margin: 10% 5%;
    font-size: 1.7em;
    color: white;
    text-decoration: none;
    background: rgba(51, 51, 51, 0.47);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.9px);
    border: 1px solid rgba(51, 51, 51, 0.14);
    padding: 0 2%;
}





















.local{
    width: 100%;
    height: 100vh;
    position: relative;
    background-attachment: fixed;
    background-image: url(../image/woodblack__background.jpg);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 
    "div div div"
    "parraff2 parraff2 parraff2"
    "parraf parraf parraf";
    border-bottom: 3px solid black;
}

.local div{
    grid-area: div;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 7% 9%;
}

.local div h2{
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 1.7em;
}

.local div h3{
    text-align: center;
    font-size: 2em;
    border: 3px solid #edc214;
    background-color: rgba(111, 111, 111, 0.323);
    background-image: linear-gradient(
        to right,
        #ffea00 0,
        #e99a24 22%, 
        #ffd500 45%,
        #ffee00 50%,
        #ffd500 55%,
        #e99a24 78%,
        #d28d26 100%);
    color:transparent;
    -webkit-background-clip: text;
}

.local p{
    margin: 0 10%;
}
.local .parraf{
    grid-area: parraf;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    color: rgb(255, 255, 255);
    background: rgba(51, 51, 51, 0.47);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.9px);
    border: 1px solid rgba(51, 51, 51, 0.14);
    margin-bottom: 7%;
}
.local .parraff{
    grid-area: parraff2;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 0.9em;
    color: rgb(255, 255, 255);
    background: rgba(51, 51, 51, 0.47);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.9px);
    border: 1px solid rgba(51, 51, 51, 0.14);
    margin-bottom: 6%;
}






















.carrusel div div img{
    width: 100%;
    height: 70vh;
    background-repeat: no-repeat;
    background-size: cover;
    width: 320px;
}






















.marcas__utilizadas{
    width: 100%;
    height: 100vh;
    background-image: url("../image/marble__with.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-top: 7px solid rgb(60, 60, 60);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.marcas__utilizadas h4{
    margin: 6%;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    border-bottom: 3px solid #cb9b51;
    font-weight: bold;
   background-image: linear-gradient(
	to right,
	#462523 0,
    #cb9b51 22%, 
	#ffd500 45%,
	#ffee00 50%,
	#ffd500 55%,
	#cb9b51 78%,
	#462523 100%);
   color:transparent;
   -webkit-background-clip: text;
}

.marcas__utilizadas img{
    margin: 3% 7%;
    width: 260px;
    border: 3px solid #333333;
    border-radius: 10px;
    box-shadow: 0px 10px 10px -3px rgba(0,0,0,0.1);
}























footer div{
    width: 0 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #333333;
    color: rgb(255, 255, 255);
    font-size: 0.9em;
    text-align: center;
    border-top: 3px solid #000;
}

footer div p{
    margin: 2%;
}

footer div p a{
    font-style: normal;
    text-decoration: none;
    color: rgb(255, 217, 0);
}























































.header__nosotros{
    width: 100%;
    height: 83vh;
    position: relative;
    background-attachment: fixed;
    background-image: url("../image_responsive768px/waiting__room.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 3px solid black;
}

.header__nosotros div{
    position: relative;
    padding: 13%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: rgb(0, 0, 0);
}

.header__nosotros div p{
    font-size: 1em;
    background: rgba( 255, 255, 255, 0.15 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 8px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    font-family: 'Poppins', sans-serif;
}
























.nosotros__local{
    width: 100%;
    height: 100vh;
    position: relative;
    background-attachment: fixed;
    background-image: url(../image/brick__wall.jpg);
    border-bottom: 3px solid black;
}

.nosotros__local div{
    grid-area: div;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 16% 3%;
}

.nosotros__local div p{
    text-align: center;
    color: rgb(212 212 212);
    font-size: 2em;
    background-color: rgba(111, 111, 111, 0.323);
    margin: 0 9%;
    background-image: linear-gradient(
        to right,
        #ffea00 0,
        #e99a24 22%, 
        #ffd500 45%,
        #ffee00 50%,
        #ffd500 55%,
        #e99a24 78%,
        #d28d26 100%);
    color:transparent;
    -webkit-background-clip: text;
}

.nosotros__local p{
    margin: 0 10%;
}


















































.header__servicio{
    width: 100%;
    height: 83vh;
    position: relative;
    background-attachment: fixed;
    background-image: url("../image/background__silkblack.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 3px solid black;
}

.header__servicio div{
    position: relative;
    padding: 7%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: rgb(255, 255, 255);
}

.header__servicio div h1{
    padding-bottom: 5%;
    text-align: center;
    color: rgb(212 212 212);
    font-size: 2.3em;
    background-color: rgba(111, 111, 111, 0.323);
    background-image: linear-gradient(
        to right,
        #ffea00 0,
        #e99a24 22%, 
        #ffd500 45%,
        #ffee00 50%,
        #ffd500 55%,
        #e99a24 78%,
        #d28d26 100%);
    color:transparent;
    -webkit-background-clip: text;
}

.header__servicio div h2{
    font-size: 1.5em;
    background: rgba(255, 255, 255, 0.113);
    box-shadow: 0 8px 32px 0 rgba(52, 52, 52, 0.37);
    backdrop-filter: blur( 8px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    font-family: 'Poppins', sans-serif;
}






















.service{
    width: 100%;
    height: 100vh;
    position: relative;
    background-attachment: fixed;
    background-image: url(../image/background__neofoliage.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 
    "service service service"
    "ellas ellas ellas"
    "ellos ellos ellos";
    border-bottom: 3px solid black;
}

.service div{
    grid-area: service;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 3%;
}


.service div b{
    text-decoration: none;
    text-align: center;
    font-size: 1.28em;
    background-color: rgba(111, 111, 111, 0.323);
    background-image: linear-gradient(
        to right,
        #ffea00 0,
        #e99a24 22%, 
        #ffd500 45%,
        #ffee00 50%,
        #ffd500 55%,
        #e99a24 78%,
        #d28d26 100%);
    color:transparent;
    -webkit-background-clip: text;
}

.service figure{
    align-items: center;
}

figure a{
    text-decoration: none;
}

.service .ellas{
    grid-area: ellas;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: center;
    font-weight: bold;
    color: rgb(255, 255, 255);
    background: rgba(255, 255, 255, 0.174);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.9px);
    border: 3px solid rgba(51, 51, 51, 0.14);
    margin: 7%;
    padding-top: 7%;
}

.service .ellos{
    grid-area: ellos;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-weight: bold;
    color: rgb(255, 255, 255);
    background: rgba(255, 255, 255, 0.168);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.9px);
    border: 3px solid rgba(51, 51, 51, 0.14);
    margin: 7%;
    padding-top: 7%;
}

figure img{
    width: 8em;
}























.header__femminile{
    width: 100%;
    height: 200vh;
    position: relative;
    background-attachment: fixed;
    background-color: #777777;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 3px solid black;
    background-image: url(../image/white__fractal.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.header__femminile div{
    position: relative;
    padding: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: rgb(0, 0, 0);
}

.header__femminile div a{
    text-decoration: none;
    font-style: normal;
    color: #4c0ce1;
}

.femminile{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    background-color: rgba(240, 248, 255, 0.383);
    border-radius: 16px;
    border: 3px solid black;
    padding-top: 1%;
}



























.header__maschile{
    width: 100%;
    height: 113vh;
    position: relative;
    background-attachment: fixed;
    background-color: #777777;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 3px solid black;
    background-image: url(../image/background__triangle.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.header__maschile div{
    position: relative;
    padding: 7%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: rgb(0, 0, 0);
}

.header__maschile div a{
    text-decoration: none;
    font-style: normal;
    color: rgb(0, 0, 0);
}

.maschile{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    background-color: rgba(240, 248, 255, 0.383);
    border-radius: 16px;
    border: 3px solid black;
    padding-top: 1%;
}























.header__gallery{
    width: 100%;
    height: 83vh;
    position: relative;
    background-attachment: fixed;
    background-image: url("../image/background__silkblack.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 3px solid black;
}

.header__gallery div{
    position: relative;
    padding: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.header__gallery div h1{
    text-align: center;
    color: rgb(212 212 212);
    font-size: 5em;
    background-color: rgba(111, 111, 111, 0.323);
    background-image: linear-gradient(
        to right,
        #ffea00 0,
        #e99a24 22%, 
        #ffd500 45%,
        #ffee00 50%,
        #ffd500 55%,
        #e99a24 78%,
        #d28d26 100%);
    color:transparent;
    -webkit-background-clip: text;
}

.gallery__aticle{
    background-image: url(../image/leaves-dark-foliage.jpg);
}

.gallery__aticle div{
    padding: 3%;
}

.gallery__aticle div img{
    width: 100%;
    position: relative;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    border: 3px solid black;
    border-radius: 10px;
    opacity: 96%;
}