
@media (min-width: 1020px){

    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    .header__inicio{
        div{
            padding-top: 13%;
            h1{
                font-size: 3em;
            }
            a{
                font-size: 3.3em;
            }
        }
    }
    


    .local{
        div{
            grid-area: div;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: 3% 9%;
            h2{
                text-align: center;
                color: rgb(255, 255, 255);
                font-size: 3em;
            }
            h3{
                font-size: 3em;
                margin: 0 15%;
            }
        }
        .parraf{
            font-size: 1.7em;
            margin-bottom: 6%;
        }
        .parraff{
            font-size: 1.9em;
            margin-bottom: 1%;
        }
    }
    


    .marcas__utilizadas{
        h4{
            margin: 3%;
            font-size: 3.9em;
            font-weight: bold;
            border-bottom: 4px solid #cb9b51;
        }
        img{
            margin: 2% 7%;
            width: 444px;
        }
    } 



    .header__nosotros{
        background-image: url("../image/waiting__room.jpg");
        div{
            p{
                font-size: 2em;
            }
        }
    }
    


    .nosotros__local{
        div{
            padding: 6% 3%;
            p{
                font-size: 5em;
            }
        }
    } 
    


    .header__servicio{
        div{
            padding: 6%;
            h1{
                font-size: 5.2em;
            }
            h2{
                font-size: 2em;
            }
        }
    }
    


    .service{
        div{
            margin: 1%;
            b{
                font-size: 1.7em;
            }
        }
    } 



    .service{
        figure img{
            width: 10em;
        }
        .ellas{
            margin: 33% 13%;
            padding-top: 3%;
        }
        .ellos{
            margin: 33% 13%;
            padding-top: 3%;
        }
    }



.service{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-template-areas: 
    "ellos ellos ellas ellas";
}



    .header__femminile{
        div{
            padding: 3%;
            a{
                width: 11em;
            }
        }
    }
    


    .header__maschile{
        div{
            padding: 3%;
            a{
                width: 11em;
            }
        }
    } 
    


    .contacto{
        a{
            padding: 1.7em;
            i{
                img{
                    width: 2.7em;
                    margin: 3%;
                }
            }
        }
        p{
            text-align: center;
            padding-left: 3%;
            margin-bottom: 1%;
        }
    } 



    footer{
        div{
            width: 0 100vh;
            font-size: 1em;
            p{
            margin: 2%;
                a{
                    font-style: normal;
                    text-decoration: none;
                    color: rgb(255, 217, 0);
                }
            }
        }
    } 


}